<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="container py-5 px-3">
    <div id="profrow" 
    class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g1 px-4"
    >
      <% profiles.forEach(profile => { %>
        <div class="col">
          <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
            <div id="afficionados" class="card mb-4 shadow-sm">
              <% if (profile.avatar) { %>
                <img
                  class="card-img-top"
                  src="<%= profile.avatar %>"
                  alt="<%= profile.name %>'s avatar"
                  width="100%"
                />
              <% } else {%>
                <img
                  class="card-img-top"
                  src="https://picsum.photos/200"
                  alt="A placeholder avatar"
                  width="100%"
                />
              <% } %>
              <div class="card-body">
                <p class="card-title fs-3 text-dark"><%= profile.name %></p>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>