<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <main>
    <h1>My Favorite Burgers</h1>
    <table id="list">
      <thead>
        <tr>
          <th>Burger</th>
          <th>Restaurant</th>
        </tr>
      </thead>
      <tbody>
        <% burgers.forEach(burger => { %>
          <tr> 
            <td><%= burger.name %> </td>
            <td>from <%= burger.restaurant %> </td>
            <td>in <%= burger.location %> </td>
            <td><a href="/burgers/<%= burger._id %>">DETAILS</a></td></td>
        <% }) %>
        </tbody>
      </table>

</main>

<%- include('../partials/footer') %>