<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h2>Edit Your Favorite Burger!</h2>
    <form action="/burgers/<%= burger._id %>?_method=PUT" method="POST" method="POST">
      <label>
        Name: 
        <input 
        type="text" 
        name="name" 
        value="<%= burger.name %>"
        autocomplete="off"
        >
      </label>
      <label>
        Restaurant Name: 
        <input 
        type="text" 
        name="restaurant" 
        value="<%= burger.restaurant %>"
        autocomplete="off">
      </label>
      <label>
        Restaurant Location: 
        <input 
        type="text" 
        name="location"
        value="<%= burger.location %>"
        autocomplete="off">
      </label>
      <label>Cook Temp
        <select 
        name="cook" 
        value="<%= burger.cook %>"
        >
          <option value="Rare">Rare</option>
          <option value="Medium-Rare">Medium-Rare</option>
          <option value="Medium">Medium</option>
          <option value="Medium-Well">Medium-Well</option>
          <option value="Well-Done">Well-Done</option>
        </select>
      </label>
      <label>
        Cheese?
        <input 
        type="checkbox" 
        name="cheese" 
        <%= burger.cheese ? "checked" : "" %>
        >
      </label>
      <button type="submit">Edit The Burger</button>
    </form>
  </main>

<%- include('../partials/footer') %>