<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div id="heading">
    <h1><%= burger.name %> Burger</h1>
    <img src="../images/vt-burger-1.jpeg">
  </div>
  <section>
    <h2>Is one of <%= burger.owner.name %>'s favorite burgers.</h2>
    <h2>It's from <%= burger.restaurant %> In <%= burger.location %></h2>
    <h2>The cook temp was <%= burger.cook %> and it
      <br> definitely has <%= burger.cheese ? 'cheese' : 'no cheese' %> on it.</h2>
    <br>
  </section>
  <section id="burger-details">
      <h3><a href="/burgers">Click here to return to Burgers</a></h3>
      <br>
      <% if (burger.owner.equals(user?.profile._id)) { %>
        <form action="/burgers/<%= burger._id %>/edit" method="GET">
          <button class="btn btn-outline-dark btn-lg" type="submit">Edit Burger Details</button>
        </form>
        <form action="/burgers/<%= burger._id %>?_method=DELETE" method="POST">
          <button class="btn btn-outline-dark btn-lg" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg> Burger</button>
        </form>
      <% } %>
      <% if (burger.reviews.length) { %>
        <table>
          <thead>
            <tr>
              <th>Reviewer</th>
              <th>Date</th>
              <th>Review</th>
              <th>Rating</th>
            </tr>
          </thead>
        <tbody>
          <% let total = 0 %>
          <% burger.reviews.forEach(review => { %>
            <% total += review.rating %>
            <tr>
              <td><%= review.owner.name %> </td>
              <td><%= review.createdAt.toLocaleDateString() %></td>
              <td><%= review.content %></td>
              <td><%= review.rating %></td>
              <td><% if (review.owner.equals(user?.profile._id)) { %>
                <form action="/burgers/<%= burger._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                  <button class="btn" type="submit">Delete Review</button>
                </form>
              <% } %>
            </td>
            </tr>
          <% }) %>
          <tr>
            <td colspan="3"></td>
            <td>
              <strong><%= (total / burger.reviews.length).toFixed(1) %></strong>
            </td>
          </tr>
        </tbody>
      </table>
    <% } else { %>
      <br>
      <h3>~~ No Reviews Yet ~~</h3>
      <br>
    <% } %>
    <% if (user) { %>
      <h2>Leave a Review</h2>
        <form 
          id="add-review-form"
          action="/burgers/<%= burger._id %>/reviews"
          method="POST"
        >
          <label for="content-textarea"></label>
            <textarea name="content" id="content-textarea"></textarea>
            <br>
            <br>
          <label for="rating-select"><h4>Rating:</h4></label>
            <select name="rating" id="rating-select">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5" selected>5</option>
            </select>
            <br>
          <br>
          <button type="submit" class="btn btn-outline-dark btn-lg">Add Review</button>
        </form>
        <form 
      <% } %> 
    </section>
</main>

<%- include('../partials/footer') %>